@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Homework Dima Borushko</h1>
    <p><i class="bi bi-check"></i>Add new repository</p>
    <p><i class="bi bi-check"></i>Add controllers FriendControlle.cs</p>
    <p><i class="bi bi-check"></i>Add models Friend.cs</p>
    <p><i class="bi bi-check"></i>Add database and connection</p>
    <p><i class="bi bi-check"></i>Add controllers: Create, Edit, Delete</p>
    <p><i class="bi bi-check"></i>Add views: Create, Edit, Delete</p>
    <p><i class="bi bi-check"></i>Add UI</p>
    <p><i class="bi bi-check"></i>Add repository pattern</p>
    <p><i class="bi bi-check"></i>Add notification</p>
    <p><i class="bi bi-check"></i>Add Servis: FriendsService, IFriendService</p>
    <p><i class="bi bi-check"></i>Add implementation StubFriendService</p>
</div>
