@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my homework</h1>
    <p><i class="bi bi-check"></i>Introduction to MVC</p>
    <p><i class="bi bi-check"></i>Dependency Injection</p>
    <p><i class="bi bi-check"></i>Entity Framework</p>
    <p><i class="bi bi-check"></i>Data Validation</p>
</div>
